body{
    background-color: #EAEAEA;
    position: relative;
}
#banner{
    background-color: #00ABB3;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
}
#banner .container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#banner .container .form-group{
    width: 50%;
    margin: auto 0;
}
#banner i{
    color: white;
    font-size: 2rem;
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
}
#dssp{
    margin-top: 45px;
}
#dssp .card{
    border-radius: 10px;
}
#dssp .card p:first-of-type{
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
}
#dssp .card button{
    padding: 10px 30px;
    border: 1px solid #00ABB3;
    border-radius: 25px;
    background-color: #00ABB3;
    color: white;
    margin-left: 38%;
    transition: all 0.5s;
}
#dssp .card button:hover{
    background-color: white;
    color: #00ABB3;
}
#cart{
    position: relative;
}
#cart-number{
    position: absolute;
    top: 4px;
    right: 15px;
    color: black;
    height: 1rem;
    width: 1rem;
    background-color: red;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
}
.overlay{
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    display: none;
    z-index: 12;
}
#cart-site{
    width: 60%;
    height: 100%;
    background-color: #EAEAEA;
    position: absolute;
    top: -45px;
    right: 0;
    z-index: 15;
    display: none;
    overflow: hidden;
}
#cart-site .header{
    background-color: #00ABB3;
    position: relative;
    color: white;
    text-align: center;
}
#cart-site .icon-close{
    font-size: 2rem;
    padding: 5px;
    border: 1px solid white;
    cursor: pointer;
    width: 2.5rem;
    position: absolute;
    top: 0;
    right: 10%;
}
#cart-site #cart-table{
    border: 1px solid white;
    width: 100%;
    text-align: center;
}
#cart-site #cart-table td{
    border: 1px solid white;
}
#cart-site #cart-table img{
    width: 50px;
}
#cart-site #cart-table .sub-btn{
    border: none;
    color: red;
}
#cart-site #cart-table .add-btn{
    border: none;
    color: green;
}
#cart-site #cart-table .del-btn{
    border: none;
    color: red;
}
#cart-site .total{
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 10px;
    margin-left: 20px;
}
#cart-site .total span{
    color: red;
}
#cart-site .button-bot{
    margin-left: 20px;
}
#cart-site .button{
    padding: 15px 30px;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: all 0.3s;
    background-color: white;
    font-weight: bold;
}
#cart-site .btn-pay{
    color: green;
}
#cart-site .btn-pay:hover{
    color: white;
    background-color: green;
}
#cart-site .btn-del{
    color: red;
    margin-left: 10px;
}
#cart-site .btn-del:hover{
    color: white;
    background-color: red;
}
#pay-site{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -45px;
    left: 0;
    background-color:#EAEAEA;
    z-index: 20;
    display: none;
}
#pay-site h2{
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    color: #00ABB3;
    margin-bottom: 40px;
}
#pay-site .pay-table{
    border: 1px solid white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 1.2rem;
}
#pay-site .pay-table td{
    border: 1px solid white;
}
#pay-site .tongTien{
    
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-top: 1px solid red;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
#pay-site .tongTien span{
    color: red;
}
#pay-site button{
    padding: 15px 30px;
    margin-left: 20px;
    border-radius: 15px;
    font-size: 1.2rem;
    transition: all 0.3s;
    background-color: white;
    font-weight: bold;
    border: 1px solid white;
    margin-top: 30px;
}
#pay-site .btn-pay a{
    color: green;
    transition: all 0.3s;
}
#pay-site .btn-pay:hover a{
    color: white;
    text-decoration: none;
}
#pay-site .btn-pay:hover{
    background-color: green;
}
#pay-site .btn-del{
    color: red;
    margin-left: 10px;
}
#pay-site .btn-del:hover{
    color: white;
    background-color: red;
}